<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/styles.css">

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f8f9fa;
      text-align: center;
      padding: 10px 0;
    }
  </style>
</head>
  
<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid position-relative">
        <a class="navbar-brand">WeatherApp</a>
        <div class="d-flex align-items-center position-absolute top-0 end-0">
            <%if (user) {%> 
                <span class="me-3">Welcome, <%= user.username %></span>
            <% } %>
            <form action="/logout" method="post" class="d-flex align-items-center me-3"> 
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
</nav>



  <div class="container mb-5">
    <div class="main">
        <!-- <img src="/img/6012764.jpg" alt="" class="w-50 h-50"> -->
      <h1 class = "mt-5">Weather Application</h1>
      <form action="/weather" method="post" class="mt-5 mb-5" id="form-input">
        <div class="input-group input-group-lg d-flex">
            <span class="input-group-text" id="inputGroup-sizing-lg">Enter the city</span>
            <input type="text" id="city-input" name="city" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
          </div>
          <button type="submit" class="btn btn-primary mt-3">Get Weather</button>
        </form>
    </div>

    <% if (weather) { %>
      <h1>History</h1>
      <% for (let i = 0; i < weather.length; i++) { %> 
        <div id="weather-info" class="bg-info rounded d-flex justify-content-around mb-3 pt-3s">
          <div>
            <h2>Weather in <%= weather[i].city %></h2>
            <p>Temperature: <%= weather[i].temperature %>°C</p>
            <p>Description: <%= weather[i].description %></p>
            <p><img src="<%= weather[i].icon %>" alt="Weather Icon"></p>
          </div>
          <div>
            <h2>City Info</h2>
            <p>Country: <%= weather[i].info.country %></p>
            <p>Population: <%= weather[i].info.population %></p>
            <p>Coordinates: <%= weather[i].info.latitude %>, <%= weather[i].info.longitude %></p>
          </div>
        </div>
      <% } %>
  <% } else if (error) { %>
      <p>Error: <%= error %></p>
  <% } %>

    


    <!-- <div id="map" style="height: 400px;" class="mb-5"></div>
    <a href="/forecast-page" class="btn btn-primary">Check the 7 day forecast</a> -->
  </div>

  <footer class="footer container-fluid">
    <div>
      <span>Created by Dilnaz Alimbayeva - SE-2201</span>
    </div>
  </footer>

      <script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>